.biographyBody.rowReset
    .biographyBody__title.row.col-md-12.rowReset
        The Trancells
    .biographyBody__member.col-md-12.rowReset
        #gt.biographyBody__member__detail.row.col-md-3.rowReset
            .biographyBody__member__detail__part
                Guitar
                .span
                    KOATASHI
        #vo.biographyBody__member__detail.row.col-md-3.rowReset
            .biographyBody__member__detail__part
                Vocal
                .span
                    SATO
        #ba.biographyBody__member__detail.row.col-md-3.rowReset
            .biographyBody__member__detail__part
                Bass
                .span
                    SHIRAI
        #dr.biographyBody__member__detail.row.col-md-3.rowReset
            .biographyBody__member__detail__part
                Drums
                .span
                    AIZAWA
