.biographyBody
    .row.no-gutters
        .biographyBody__title.col-md-12
            The Trancells
    .biographyBody__member
        .row.no-gutters
            #gt.biographyBody__member__detail.col-sm-3.col-xs-12
                .biographyBody__member__detail__part.col-sm-3.col-xs-12
                    Guitar
                    .span
                        KOATASHI
            #vo.biographyBody__member__detail.col-sm-3.col-xs-12
                .biographyBody__member__detail__part.col-sm-3.col-xs-12
                    Vocal
                    .span
                        SATO
            #ba.biographyBody__member__detail.col-sm-3.col-xs-12
                .biographyBody__member__detail__part.col-sm-3.col-xs-12
                    Bass
                    .span
                        SHIRAI
            #dr.biographyBody__member__detail.col-sm-3.col-xs-12
                .biographyBody__member__detail__part.col-sm-3.col-xs-12
                    Drums
                    .span
                        AIZAWA
