.biographyBody
    .biographyBody__title
        The Trancells
    .biographyBody__member
        #gt.biographyBody__member__detail
            .biographyBody__member__detail__part
                Guitar
                .span
                    KOATASHI
        #vo.biographyBody__member__detail
            .biographyBody__member__detail__part
                Vocal
                .span
                    SATO
        #ba.biographyBody__member__detail
            .biographyBody__member__detail__part
                Bass
                .span
                    SHIRAI
        #dr.biographyBody__member__detail
            .biographyBody__member__detail__part
                Drums
                .span
                    AIZAWA
