-# PC仕様
.header.visible-md.visible-lg
  .header__pc
    .header__pc__title
      The Trancells
    .header__pc__menu
      %ul
        %li.menu-list
          =link_to "TOP","#"
        %li.menu-list
          =link_to "BIOGRAPHY","#"
        %li.menu-list
          =link_to "DISCOGRAPHY","#"
        %li.menu-list
          =link_to "SPACIAL","#"
        %li.menu-list
          =link_to "CONTACT","#"
-# SP仕様
.header.hidden-md.hidden-lg
  .header__sp
    .header__sp__menu
      = image_tag 'menu-icon.png', class: "menu-icon", id: "menu-btn"
    #js-menuList.header__sp__menuList
      .header__sp__menuList__label
        .header__sp__menuList__label__title
          The Trancells
        .header__sp__menuList__label__closeBtn
          = image_tag 'menu-close-icon.png', id: "spMenu-close-icon"
      %ul
        %li
          =link_to "#" do
            TOP
        %li
          =link_to "#" do
            BIOGRAPHY
        %li
          =link_to "#" do
            SPACIAL
        %li
          =link_to "#" do
            CONTACT
