.header.container
  .row.col-md-3
    .header__title
      The Trancells
  .row.col-md-9
    .header__menu
      %ul.nav.nav-tabs.nav-justified
        %li.menu-list
          TOP
        %li.menu-list
          BIOGRAPHY
        %li.menu-list
          DISCOGRAPHY
        %li.menu-list
          SPACIAL
        %li.menu-list
          CONTACT
