.headerbody
  .headerbody__title
    The Trancells
  .headerbody__menu
    %ul
      %li
        TOP
      %li
        BIOGRAPHY
      %li
        DISCOGRAPHY
      %li
        SPACIAL
      %li
        CONTACT
