.news
    .news__title
        NEWS
    .news__topic
        .news__topic__title
            .news__topic__litle__date
                .span
                    更新日
        -# ここを繰り返し処理で表示予定
        .news__topic__list
            .news__topic__list__date
                2020/07/04
            .news__topic__list__detail
                久しぶりにスタジオ入るよー！吉祥寺のノアだよー！
        .news__topic__list.no-gutters
            .news__topic__list__date
                2020/02/27
            .news__topic__list__detail
                相沢がニートになったよー
        .news__topic__list.no-gutters
            .news__topic__list__date
                2020/01/12
            .news__topic__list__detail
                高円寺ClubRoots!でライブするよー！
    .news__more
        = link_to 'MORE', "#", class: "infoBtn"
            