.news.rowReset
    .news__title
        NEWS
    .news__topic
        .news__topic__title.container
            .news__topic__litle__date.row.col-md-3
                .span
                    更新日
            .news__topic__litle__detail.row.col-md-9
                .span
                    こっちに詳細
        -# ここを繰り返し処理で表示予定
        .news__topic__list.container
            .news__topic__list__date.row.col-md-3
                2020/07/04
            .news__topic__list__detail.row.col-md-9
                久しぶりにスタジオ入るよー！吉祥寺のノアだよー！
        .news__topic__list.container
            .news__topic__list__date.row.col-md-3
                2020/02/27
            .news__topic__list__detail.row.col-md-9
                相沢がニートになったよー
        .news__topic__list.container
            .news__topic__list__date.row.col-md-3
                2020/01/12
            .news__topic__list__detail.row.col-md-9
                高円寺ClubRoots!でライブするよー！