.indexBody
    #top.section
        = image_tag 'dammy-top-image.jpg'
        #title.hidden-md.hidden-lg
            The
            %br
            Trancells
    
    #news.section
        = render partial: 'share/news'
    #biography.section
        = render partial: 'share/biography'
    #footer.footer
        = render partial: 'share/footer'