.biographyBody{
    font-family: $main-font;
    width: 100%;
    &__title{
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }
    &__member{
        width: 100%;
        @media (max-width: 812px){
            display: block;
            
        }
        @media (min-width: 813px){
            display:flex;
        }
        &__detail{
            height: 500px;
            position: relative;
            @media (max-width: 812px){
                width: 100%;
                
            }
            @media (min-width: 813px){
                width: 25%;
            }
            &__part{
                position: absolute;
                bottom: 15px;
                font-size: 18px;
                color: white;
                left: 15px;
                .span{
                    font-size: 32px;
                }
            }
        }
    }
}

#gt{
    background-color: gray;
}

#vo{
    background-color: lightgray;
}

#ba{
    background-color: lightslategray;
}

#dr{
    background-color: lightsteelblue;
}
