.header{
    font-family:$main-font;
    width:100%;
    &__pc{
        height:60px;
        background-color: $main-color;
        &__title{
            padding-left: 24px;
            line-height: 60px;
            font-size: 30px;
            font-weight: bold;
            color: $accent-color;
        }
    }
    &__sp{
        height:0px;
        position: fixed;
        
        z-index: 50;
        &__menu{
            padding: 12px 0 0 12px;
        }
        &__menuList{
            position: fixed;
            left:  -320px;
            top: 0;
            width: 300px;
            height: 100vh;
            background-color:white;
            transition:  all .6s;
            z-index: 100;
            overflow-y: auto;
            &__label{
                height: 60px;
                display: flex;
                background-color: $main-color;
                &__title{
                    color: $menu-list-font-color;
                    width: 85%;
                    line-height: 60px;
                    font-size:18px;
                    padding-left: 12px;
            
                }
                &__closeBtn{
                    width: 15%;
                    line-height: 60px;
                    
                }
            }
        }
    }
}



.menu-list{
    color:$menu-list-font-color;
}

.menu-icon{
    width: 32px;
    height: 32px;
}
ul{
    width:100%;
}
li{
    height:60px;
    width: 100%;
    line-height:60px;
}

#spMenu-close-icon{
    width: 24px;
    height: 24px;
}