.biographyBody{
    width: 100%;
    &__title{
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }
    &__member{
        width: 100%;
        &__detail{
            height: 500px;
            position: relative;
            &__part{
                position: absolute;
                left: 15px;
                bottom: 15px;
                font-size: 18px;
                color: white;
                .span{
                    font-size: 32px;
                }
            }
        }
    }
}

#gt{
    background-color: green;
}

#vo{
    background-color: yellowgreen;
}

#ba{
    background-color: orange;
}

#dr{
    background-color: peru;
}

.rowReset{
    margin-right: 0px;
    margin-left: 0px;
}