$main-color:#082D6A;
$accent-color:#D54C4D;

$menu-list-font-color:#ffffff;

.col-md-3{
    width: 25%;
    color:$accent-color;
}

#top{
    width: 100%;
    padding:0px;
}
#biography{
    width: 100%;
    padding:0px;
}